body * {
    margin-top: .25em;
    margin-bottom: .25em;
}

body {
    background-color: #E9ECF0;
}

.jumbotron {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    background-image: url("./pictures/coding-banner.png");
}

#title {
    background-color: rgba(240, 240, 240, 0.502);
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.center {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.quiz {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}

.disabled-button {
    pointer-events: none;
}

.selected-choice {
    border: 3px solid black;
}

.text_answer {
    width: 200px;
}

.text_answer_submit {
    display: block;
}

#question {
    font-size: 3em;
}

input[type=image] {
    width: 49%;
    height: 290px;
}

input[type=image]:nth-child(even) {
    float: right;
}

#fill_in {
    font-size: 1.5em;
}

.fill_in_textbox {
    margin-left: .4em;
    margin-right: .4em;
    width: 150px;
    display: inline;
}

.fill_in_submit {
    display: block;
}

input[type=button].choice {
    font-size: 1.5em;
    min-width: fit-content;
    width: parent;
}

.flex_box_buttons {
    display: flex;
    flex-direction: column;
}

#end {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#end button {
    width: 48%;
}

#end button:nth-child(odd) {
    float: right;
}